@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: white;
    font-size: 22px;
}
header{
    background-color: lightseagreen;
    display: grid;
    position: relative;
}
header img{
    width: 100%;
    padding-left: 1rem;
    height: auto;
}
header h1 {
    font-family: 'Varela Round';
    font-size: 3rem;
    display: flex;
    margin: 5rem auto;
    text-align: center;
}
#darkBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 24px;
    background-color: none;
    cursor: pointer;
}
main{
    margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #eee;
    font-family: 'Josefin Sans';
    text-align: center;
    padding: 20px;
}
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}
.label {
	font-family: 'Josefin Sans';
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section ul li{
    list-style-type: none;
    list-style: none;
}
.Temple{
    position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, lightblue);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}
.Temple p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
}
a {
    text-align: center;
    text-decoration: none;
    font-family: 'Varela Round';
}
#menu {
    display: flex;
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: white;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
    transition: 0.5s;
}
.navigation li a:hover {
	background-color: black;
	color: white;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "😸 ";
}

.stuff {
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Varela Round';
    display: flex;
    justify-content: space-around;
	color: white;
}
h3{
    background-color:lightseagreen;
}
ul {
    border: 5px solid black;
}
/* Weather */
#weather-icon{
	border-radius: 5px;
	background-color: lightblue;
	box-shadow: 5px 5px 10px rgb(69, 150, 177);
}
.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-container h4{
    text-align: center;
    padding: 1rem;
}

figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maps{
    display: flex;
	justify-content: center;
    box-shadow: 5px 5px 10px #000;
    padding: 1rem;
}
footer{
    text-align: center;
    font-family: 'Varela Round';
    background-color: lightseagreen;
    color: white;
}
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
    header img{
        width: 100px;
        margin-top: 1rem;
        box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
        padding-left: 0;
        margin-left: 1rem;
    }
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}
    section ul li{
        list-style-type: none;
        list-style: none;
    }
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}

@media screen and (max-width: 768px){
    body{
        background-color: white;
    }
    header{
        background-color: lightseagreen;
        display: grid;
    }
    header img{
        width: 100px;
        margin-top: 1rem;
        padding-left: 0;
        margin-left: 1rem;
    }
    main{
        font-family: 'Josefin Sans';
        text-align: center;
        padding: 20px;
    }
    a {
        padding: 35px;
        text-align: center;
        text-decoration: none;
        font-family: 'Varela Round';
    }
    nav{
        display: flex;
        justify-content: space-between;
        background-color: grey;
        text-align: center;
        padding: 10px;
    }
    h1 {
        font-family: 'Varela Round';
        display: flex;
        justify-content: space-around;
    }
    h3{
        background-color:lightseagreen;
    }
    ul {
        border: 5px solid grey;
    }
    footer{
        text-align: center;
        font-family: 'Varela Round';
    }
}
