@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: white;
    font-size: 22px;
}
header{
    background-color: lightblue;
    display: grid;
}
main{
    font-family: 'Josefin Sans';
    text-align: center;
    padding: 20px;
}
nav{
    padding: 35px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}
a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Varela Round';
}
h1 {
    font-family: 'Varela Round';
    display: flex;
    justify-content: space-around;
}
h3{
    background-color:lightblue;
}
ul {
    border: 5px solid grey;
}
.maps{
    max-width: fit-content;
    display: block;
    justify-content: center;
    margin: 0 auto;
}
footer{
    text-align: center;
    font-family: 'Varela Round';
}
@media screen and (max-width: 768px){
    body{
        background-color: white;
        font-size: 22px;
        margin: 0;
        padding: 0;
    }
    header{
        background-color: lightblue;
        display: grid;
        grid-template-columns: 150px auto;
        text-align: center;
        padding: 20px;
    }
    main{
        font-family: 'Josefin Sans';
        text-align: center;
        padding: 20px;
    }
    nav{
        display: flex;
        justify-content: space-around;
        background-color: grey;
        text-align: center;
        padding: 10px;
    }
    a {
        padding: 35px;
        text-align: center;
        text-decoration: none;
        font-family: 'Varela Round';
    }
    h1 {
        font-family: 'Varela Round';
        display: flex;
        justify-content: space-around;
    }
    h3{
        background-color:lightblue;
    }
    ul {
        border: 5px solid grey;
    }
    footer{
        text-align: center;
        font-family: 'Varela Round';
    }
}
