@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: white;
    font-size: 22px;
}
header{
    background-color: lightblue;
    display: grid;
}
main{
    font-family: 'Josefin Sans';
    text-align: center;
    padding: 20px;
}
a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Varela Round';
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}
#menu::before {
	content: "≡";
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    text-align: center;
    padding: 10px;
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}
.show li {
	display: block;
}
#menu.show::before {
	content: "X";
}
h1 {
    font-family: 'Varela Round';
    display: flex;
    justify-content: space-around;
}
h3{
    background-color:lightblue;
}
ul {
    border: 5px solid grey;
}
.maps{
    max-width: fit-content;
    display: block;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    text-align: center;
    font-family: 'Varela Round';
}
@media screen and (max-width: 768px){
    body{
        background-color: white;
    }
    header{
        background-color: lightblue;
        display: grid;
    }
    main{
        font-family: 'Josefin Sans';
        text-align: center;
        padding: 20px;
    }
    a {
        padding: 35px;
        text-align: center;
        text-decoration: none;
        font-family: 'Varela Round';
    }
    nav{
        display: flex;
        justify-content: space-between;
        background-color: grey;
        text-align: center;
        padding: 10px;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    h1 {
        font-family: 'Varela Round';
        display: flex;
        justify-content: space-around;
    }
    h3{
        background-color:lightblue;
    }
    ul {
        border: 5px solid grey;
    }
    footer{
        text-align: center;
        font-family: 'Varela Round';
    }
}
